################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorApp1/bin/Debug/net8.0
/BlazorApp1/obj
